<div class="container  ">
                <form class="my-3 div__form bg-light" >
                    <div class="mt-3 mb-5">
                        <h3 class="text-center fs-2 fw-bold titulo__color">{{tituloFormRegistro}}</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <!---------Nombre---------------------->
                            <div class="mb-4">
                                <div class="form-floating">
                                    <input type="text" class="form-control input__border" id="nombre" name="nombre" placeholder="Nombre"  >
                                    <label for="nombre" class="form-label label__color">Nombre</label>
                                </div>  
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <!---------Apellido---------------------->
                            <div class="mb-4">
                                <div class="form-floating">
                                    <input type="text" class="form-control input__border" id="apellido" name="apellido" placeholder="apellido"  >
                                    <label for="apellido" class="form-label label__color">Apellido</label>
                                </div>  
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <!---------gmail---------------------->
                            <div class="mb-4">
                                <div class="form-floating">
                                    <input type="email" class="form-control input__border" id="email" name="email" placeholder="email"  >
                                    <label for="email" class="form-label label__color">email</label>
                                </div>  
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <!---------pass---------------------->
                            <div class="mb-4">
                                <div class="form-floating">
                                    <input type="password" class="form-control input__border" id="password" name="password" placeholder="password"  >
                                    <label for="password" class="form-label label__color">Contraseña</label>
                                </div>  
                            </div>
                        </div>
                    </div>
                    
                    <!-----------boton-------------------->
                    <div class="my-3">
                        <button class="btn bg__btn w-100" >Registrate</button>
                    </div>
                </form> 
</div>
