<div class="container">
    <div class="container py-5">
        <div>
            <h2 class="text-center fs-1 fw-bold mb-5">Chile </h2> 
            <div>
                <img  class="paises__img" src="https://upload.wikimedia.org/wikipedia/commons/a/ae/Flag_of_Chile.png" alt="">
            </div>
            <div class="container my-5">
                <p  class="paises__p">Es un país largo y angosto que se extiende por el borde occidental de Sudamérica, con más de 6,000 km 
                    de costa en el océano Pacífico. Santiago, su capital, se ubica en un valle rodeado de los Andes y la 
                    cordillera de la Costa. En la Plaza de Armas de la ciudad, bordeada de palmeras, se encuentra la catedral 
                    neoclásica y el Museo de Historia Nacional. El enorme Parque Metropolitano cuenta con piscinas, un jardín botánico
                     y un zoológico
                </p>
            </div>
        </div>
    </div>
</div>