<div class="container   ">
    <form class="my-3 div__form bg-light" >
        <div class="mt-1 mb-3">
            <h3 class="text-center fs-2 fw-bold titulo__color">{{tituloFormLogin}}</h3>
        </div>
        <div class="mt-2 mb-5 d-flex justify-content-center">
            <div class="bg-primary bg-opacity-25 rounded-5 p-3">
                <img class="mx-auto" style="width:70px ;" src="https://img.icons8.com/dusk/2x/guest-male.png" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-6 col-xs-12">
                <!---------gmail---------------------->
                <div class="mb-4">
                    <div class="form-floating">
                        <input type="email" class="form-control input__border" id="email" name="email" placeholder="email"  >
                        <label for="email" class="form-label label__color">email</label>
                    </div>  
                </div>
            </div>
            <div class="col-md-12 col-sm-6 col-xs-12">
                <!---------pass---------------------->
                <div class="mb-4">
                    <div class="form-floating">
                        <input type="password" class="form-control input__border" id="password" name="password" placeholder="password"  >
                        <label for="password" class="form-label label__color">Contraseña</label>
                    </div>  
                </div>
            </div>
        </div>
        
        <!-----------boton-------------------->
        <div class="my-3">
            <button  class="btn bg__btn w-100" >Ingresar</button>
        </div>
    </form> 
</div>
